body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#Questionary{
	background-color: transparent;
}
#DQL{
	background-color: black;
}
#Glosary{
	background-color: transparent;
}
#Questionary, #DQL, #Glosary{
	min-height: 400px;
	padding-top: 2em;
}
.ipr-exam-center{
  padding: 5%;
}
.ipr-exam-answer{
  font-size: 2em;
}