.celButton{
	width: 130px;
	margin-top: .8em;
}

.FeCircle{
	background: url('../images/headee1.jpg');
	padding-top: 35px;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	border-radius: 100px; 
	text-align: center;
	width: 6em;
	height: 6em;
	border: 3px solid white;
	color: white;
	font-size: 	2em;
	margin-bottom: 10px;
	margin-left: 35px;
}
.FEpadding{
	padding-right: 15%;
	padding-top: 15%;
}
.FIfooter{
	text-align: center;
	color: white;
	font-size: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.logoSAT{
	opacity: .1;
	height: 100px;
	margin-top: -100px;
}
.paymentButton{
	width: 200px;
}
.tableFI{
	padding-left: 10%;
}

#FE2{
	background-color: white;
	min-height: 475px;
	padding-left: 5%;
	padding-top: 5%;
}
#PagoOnline{

}
#FIFooter{
	background-color: #e53935;
	min-height: 80px;
	max-height: 200px;
	width: 100%;
}