
body{
	background-color: #0B4F6C;
}
.ipr-drawer{
	border-right: none;
}
.ipr-drawer .mdl-layout-title{
	height: 80px;
}
.ipr-drawer .ipr-logo{
	bottom: 16px;
	position: absolute;
}
.ipr-icon{
	margin: 5px;
	color: white;
}
.ipr-icon2{
	margin: 5px;
	color: white;
	background-color: grey;
}
.ipr-icon:hover {
	color: black;
	font-size: 1.5em

}
/* footer */
.ipr-informacion{
		position: relative;;
		background: url('../images/headee1.jpg') center top no-repeat;
		max-height: 450px;
		min-height: 150px;
		text-align: center;
}

.ipr-informacion-text{
	color: white;
	margin-left: 25%;
	max-width: 800px;
	padding: 15px;
	text-align: center;
}

.ipr-button-float{
margin: 40px;
text-align: center;
}
.ipr-foot{
	color: grey;
	font-size: 0.8em;
}

.ipr-link{
	color: lightgrey !important;
}
.ipr-logo{
	height: 40px;
	width: 40px;
}
.ipr-jumpBox{

}
.ipr-jumpBox:hover{
	opacity: .8;
	border: outset 5px gray;
	border-width: medium;
}
.ipr-slide{
	background: url('../images/headee1.jpg') center no-repeat;
	background-size: cover;
	height: 650px;
	width: 100%;
	opacity: .9;
}
.ipr-slogan{
	color: #0B4F6C;
	margin-bottom: 1em;
}
.ipr-slogan-sub{
	font-size: 1em;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
	background-color: white;
	opacity: .5;
}
.ipr-slogan-ppal{
	font-weight: 700;
	line-height: 1;
}
.ipr-title, .ipr-subtitle{
	font-family: 'Josefin Slab', serif;
}
.ipr-title{
	font-size: 4em;
}
.ipr-subtitle{
	font-size: 2em;
}
.nav-link-sub{
	font-weight: 300;
	font-size: 1em;
}
.nav-link-sub .mdl-navigation__link:hover {
	border-bottom: solid 4px #add8e6;
}
.ipr-photo{
	border-radius: 90px;
	width: 90px;
	margin: 25px;
	opacity: .5;
}
.ipr-photo:hover{
	opacity: .9;
}

/*---  CSS de Card ---*/
.ipr-section-card{
	position: relative;
	padding: 8px 0;
	padding-bottom: 5%;
	max-width: 1044px;
	margin: 0 auto;
}
.ipr-section-card .ipr-section-title{
	padding: 36px 0;
	text-align: center;
}
#grid-card .mdl-card__media{
	overflow: hidden;
	/*background: transparent;*/
	background: transparent;
}

#grid-card .mdl-card__media img{
	width: 100%;
}
#ipr-hsbcCard{
	
}