body{
	background-color: rgba(110, 164, 191, 1);
}
.final-subfooter{
	background-color: rgba(110, 164, 191, 1);
}
.ipr-card{

	width: 700px;
}

.ipr-card-img{
	max-width: 200px;
}
.ipr-contact-text{
	text-align: left;
}
.ipr-container-text{
	padding-left: 10%;
}
.ipr-drawer{
	border-right: none;
}
.ipr-drawer .mdl-layout-title{
	height: 80px;
}
.ipr-drawer .ipr-logo{
	bottom: 16px;
	position: absolute;
}
.ipr-icon{
	margin: 5px;
	color: white;
}
.ipr-icon:hover {
	color: black;
	font-size: 1.5em
}
.ipr-icon2{
	margin: 5px;
	color: white;
	background-color: grey;
}
.ipr-icon3{
	font-size: 1em;  
	margin: 5px;
	color: white;
}
.ipr-icon3:hover{
	color: blue;	
}
.ipr-icon-big{
	font-size: 1.2em;
	color: #e53935;
}
.ipr-iconBlack{
	margin: 5px;
	color: black;
}
.ipr-iconBlack:hover {
	color: black;
	font-size: 1.5em
}
.ipr-icon-footer a{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	text-decoration: none;
	
}
/* footer 
.ipr-informacion{
		position: relative;
		background: url('roi.jpg') center top no-repeat;
		max-height: 450px;
		min-height: 150px;
		text-align: center;
}*/
.ipr-informacion-text{
	color: white;
	margin-left: 5%;
	max-width: 800px;
	padding: 5%;
	text-align: center;
}

.ipr-button-float{
	margin-top: 50px;
	text-align: center;
}
.ipr-foot{
	color: grey;
	font-size: 0.8em;
}
.ipr-font-droid{
	font-family: 'Droid Sans Mono', monospace;
}
.ipr-link{
	color: lightgrey !important;
}
.ipr-logo{
	height: 40px;
	width: 40px;
}
.ipr-jumpBox{

}
.ipr-jumpBox:hover{
	opacity: .8;
	border: outset 5px gray;
	border-width: medium;
}
.ipr-money{
	color:#e53935;
}
.ipr-money:hover{
	font-size: 3em;
}
.ipr-slide{
	background: url('santafe3.jpg') center no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.ipr-slogan{
	color: #0B4F6C;
	margin-bottom: 1em;
}
.ipr-slogan-sub{
	font-size: 1em;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
	background-color: white;
	opacity: .7;
}
.ipr-slogan-ppal{
	font-weight: 700;
	line-height: 1;
}
.ipr-text1{
	font-size: 1.5em;
	color: black;
	font-family: 'Droid Sans Mono', monospace;
}
.ipr-text-white{
	color: white;
}
.ipr-text-footer{
	text-align: Left;
	padding-right: 20px;
	font-family: 'Droid Sans Mono', monospace;
}
.ipr-title, .ipr-subtitle{
	font-family: 'Josefin Slab', serif;
}
.ipr-title{
	font-size: 4em;
	color: white;
}
.ipr-subtitle{
	font-size: 2em;
}
.nav-link-sub{
	font-weight: 300;
	font-size: 1em;
}
.nav-link-sub .mdl-navigation__link:hover {
	border-bottom: solid 4px #add8e6;
}
.ipr-photo{
	border-radius: 10px;
	width: 8em;
	margin: 25px;
	opacity: .9;
}
.ipr-photo:hover{
	opacity: .8;
}

.ipr-quote{
	padding-left: 5%;
	padding-right: 5%;

}

/*---  CSS de Card ---*/
.ipr-section-card{
	position: relative;
	padding: 8px 0;
	padding-bottom: 5%;
	max-width: 1044px;
	margin: 0 auto;
}
.ipr-section-card .ipr-section-title{
	padding: 36px 0;
	text-align: center;
}

.ipr-Contact{
		position: relative;
		background-color:rgba(26, 71, 90, 1);
		max-height: 1024px;
		min-height: 150px;
		text-align: center;
}
.next-level{
	
}
.next-level-icon{
	font-size: 4em;
	color: blue;
	animation-delay: 4s
}

#grid-card .mdl-card__media{
	overflow: hidden;
	/*background: transparent;*/
	background: transparent;
}

#grid-card .mdl-card__media img{
	width: 100%;
}